<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
  <clr-dg-column>รหัสแจ้ง</clr-dg-column>
  <clr-dg-column>วันที่/เวลา</clr-dg-column>
  <clr-dg-column>อาการที่แจ้ง</clr-dg-column>
  <clr-dg-column>ประเภท</clr-dg-column>
  <clr-dg-column>#</clr-dg-column>

  <clr-dg-row *ngFor="let req of requests">
    <clr-dg-cell>{{ req.request_code }}</clr-dg-cell>
    <clr-dg-cell>{{ req.request_date | thaiDate }} {{ req.request_time | shortTime }}</clr-dg-cell>
    <clr-dg-cell>{{ req.request_cause }}</clr-dg-cell>
    <clr-dg-cell>{{ req.request_category_name }}</clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <button class="btn btn-sm btn-icon btn-success">
        <clr-icon shape="note"></clr-icon>
      </button>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="perPage" [clrDgTotalItems]="total">
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} จาก {{pagination.totalItems}} รายการ
    </clr-dg-pagination>
  </clr-dg-footer>

</clr-datagrid>
